/*
Name: Todo Weekly
URL: 
Author: 
Author URL: 
Description: A fluid todo list App
Version: 1.0
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

html {
  font-size: 14px; }

body {
  font-family: 'Open Sans';
  line-height: 1.2; }

h1, h2, h3, h4 {
  font-weight: 200;
  color: #262626; }

h1 {
  font-size: 1.5em; }

h1 span {
  font-weight: 700; }

h2 {
  font-size: 6em;
  color: #fbfbfb; }

h3 {
  font-size: 2.3em; }

p {
  color: #262626; }

a {
  text-decoration: none;
  color: #323232;
  font-size: 1.1rem;
  font-weight: 600; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

i {
  color: #fbfbfb;
  padding: 0 1px; }

.fa-heart {
  font-size: 12px;
  color: #fc2d23; }

.fa-coffee {
  font-size: 12px;
  color: #622F1C; }

header a {
  font-size: 1.8rem;
  color: #fbfbfb;
  font-weight: 300; }
  header a i, header a span {
    color: #323232; }

.built {
  color: white;
  font-size: 0.9em;
  padding: 4px;
  font-weight: 300; }
  .built strong {
    font-weight: 400; }

.built a, .built p {
  font-size: 0.8rem;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.built a:hover {
  text-decoration: underline; }

.shadow {
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.3), 0 6px 16px 0 rgba(99, 99, 99, 0.3); }

.thin {
  font-weight: 300; }

.center {
  text-align: center; }

.muted {
  color: #515151; }

.hidden {
  display: none; }

.visible {
  display: block; }

/*=============================================
=                 MEDIA QUERIES               =
=============================================*/
/* -- BREAK 1 -- */
