.flex {
  display: flex;
  flex-wrap: nowrap;
}
.bg-grey {
    background-color: grey;
}
.bg-yellow {
    background-color: yellow;
}
.task {
    margin:5px;
    padding:10px;
    min-height: 30px;
    
}
[draggable] {
    cursor: move;
}
div.placeholder {background: rgb(255,240,120);}
div.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}
