
.bg-yellow {
    background-color: $yellow;
}

.task {
    height: 62px;
    width: 188px;
    margin: 8px 0;
    padding: 8px;
    transition: all 0.4s ease;
	  box-shadow: 3px 4px 5px 0px #999;
    &:hover {box-shadow: 3px 4px 5px 1px #999}
    text-align: left;
  }

[draggable] {
    cursor: move;
}

.modal {
  position: fixed;
  z-index: 100;
  display: none;
}

.modal.closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal-bg {
  position: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: black;
  opacity: 0.85;
  z-index: 101; }

.close-button {
  position: inherit;
  top: 16px;
  right: 20px;
  z-index: 102; }

.modal-main {
  background-color: white;
  position: inherit;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 102; }

