// --------------------------------------------------
// Colors
// --------------------------------------------------


//--------------------------------
// Brand
//--------------------------------

$brand     : rgba(242, 123, 33, 1.0);


//--------------------------------
// Backgrounds
//--------------------------------

$background: rgba(242, 242, 242, 1.0);
$nav       : rgba(255, 255, 255, 1.0);
$footer    : rgba(242, 123, 33, 1.0);


//--------------------------------
// Colors
//--------------------------------

$black     : rgba(38, 38, 38, 1.0);
$white     : rgba(251, 251, 251, 1.0);
$dark-grey : rgba(24, 24, 24, 1.0);
$grey      : rgba(50, 50, 50, 1.0);
$border    : rgba(90, 90, 90, 1.0);
$light-grey: rgba(193, 194, 195, 1.0);
$red    : rgba(229, 67, 63, 1.0);
$blue   : rgba(89, 149, 240, 1.0);
$purple : rgba(171, 71, 188, 1.0);
$green : rgba(102, 187, 106, 1.0);
$orange : rgba(231, 151, 35, 1.0);
$yellow : rgba(249, 234, 79, 1.0);
$pink   : rgba(236, 64, 122, 1.0);


//--------------------------------
// Utilities
//--------------------------------

$text      : $black;
$link      : $black;
$icons     : rgba(245, 21, 35, 1.0);
$button    : rgba(252, 45, 35, 1.0);
$shadow    : rgba(99, 99, 99, 0.3);
$outline   :$brand;

